.container {
  display: flex;
  width: 800px;
  padding: 10px;
}

.user-list {
  margin-right: 50px;
}

.field {
  padding: 5px;
  display: flex;
  border: 1px solid black;
  height: 40px;
  text-align: center;
  align-items:center;
  vertical-align: middle
}